@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans');

//Cores:
$cores: (
    branco: #FFF,
    azul:#00545f, 
    verde:#18b18e,
    turquesa: #02b18e,
    bege: #f28b20,
    laranja: #f3891a
 );
 

$fontes: (
    dosis: 'Dosis', 
    open: 'Open Sans'
);



$imagens: (
    0:'/img/anestesiologia.jpg',
    1:'/img/cardiologia_iemev.jpg',
    2:'/img/cliente_geriatria.jpg',
    3:'/img/iemev_gato_cachorro.jpg',
    4:'/img/iemev_gato_cachorro.jpg',
    5:'/img/veterinaria_iemev.jpg'
);

h1, h2, h3, h4, h5, h6 {
    width: fit-content;
    color: map-get($cores , verde );
    font-family: map-get($fontes , dosis );
    border-bottom: 3px solid map-get($cores, laranja );
}
.sticky-top {
    background-color: map-get($cores , verde );
    .navbar-nav {
        .link, .nav-link{
            color: map-get($cores, branco );
            &:hover{
                color: transparentize(map-get($cores, laranja ), 0.8);
            }
        }
    }
}

.jumbotron {
    background-size: cover;
    background-position: center;
    border-radius: 0;
    h1{
        border-bottom: none;
        color: map-get($cores , branco );
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    }
    &.jum_cliente {
        background-image: url(map-get($imagens, 1));
    }
    &.jum_animal {
        background-image: url(map-get($imagens, 0));
    }
}